.macos-window {
  overflow: hidden;
}

.macos-window {
  position: absolute;
  border: 1px solid #acacac;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 5px 30px rgba(0,0,0,.3);
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  pointer-events: none;
}

.macos-window .macos-window-titlebar {
  /* TODO: ask chatgpt if all my css is multi-browser compatible */
  background: -webkit-linear-gradient(top, #f0f0f0, #e5e5e5);
  color: #4d494d;
  position: relative;
  width: 100%;
  height: 26px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 24px;
  z-index: 100;
}

.macos-window .macos-window-buttons {
  padding-left: 6px;
  padding-top: 6px;
  float: left;
  line-height: 0px;
}

.macos-window .macos-window-buttons div {
  border-radius: 50%;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 2.5px;
}

.macos-window .macos-window-close {
  background: #ff5c5c;
  border: 1px solid #e33e41;
}

.macos-window .macos-window-minimize {
  background: #ffbd4c;
  border: 1px solid #e09e3e;
}

.macos-window .macos-window-zoom {
  background: #00ca56;
  border: 1px solid #14ae46;
}

.macos-window .macos-window-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  text-align: center;
  font-size: 10pt;
  color: #555;
  font-weight: 600;
}