:root {
  --pure-white: #fff;
  --editor-bg-color: #fffefd;
  --font-color: #333;
  --header-color: #111;
  --pure-black: #000;
  --mid-grey: #888;
  --light-grey: #bbb;
  --blue-accent: #30a0f0;
  --image-border-color: #888;
  --image-shadow-color: rgba(0,0,0,0.2);
  --settings-menu-overlay-bg: rgba(128,128,128, 0.3);
  --settings-menu-overlay-calculated: #D9D8D8;
  --toolbar-bg-color: #fff;
  --toolbar-border-color: #bbb;
  --toolbar-shadow-color: rgba(0,0,0,0.2);
  --settings-menu-border-color: #eee;
  --bg-color: #eee;
  --page-shadow-color: var(--toolbar-shadow-color);
  --download-color: #e08080;
  --download-hover-color: #c86868;
}

[data-theme=dark] {
  --pure-white: #000;
  --editor-bg-color: #222;
  --font-color: #ddd;
  --header-color: #eee;
  --pure-black: #fff;
  --mid-grey: #777;
  --light-grey: #333;
  --blue-accent: #30a0f0;
  --image-border-color: #888;
  --image-shadow-color: rgba(0,0,0,0.2);
  --settings-menu-overlay-bg: rgba(0,0,0, 0.3);
  --settings-menu-overlay-calculated: rgb(17,17,17);
  --toolbar-bg-color: #333;
  --toolbar-border-color: #333;
  --toolbar-shadow-color: rgba(0,0,0,0.3);
  --settings-menu-border-color: #202020;
  --bg-color: var(--editor-bg-color);
  --page-shadow-color: transparent;
  --download-color: #e08080;
  --download-hover-color: #c86868;
}
[data-theme=dark] img {
  filter: invert(100%);
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("../../assets/fonts/lmroman10-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("../../assets/fonts/lmroman10-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("../../assets/fonts/lmroman10-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("../../assets/fonts/lmroman10-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Latin Modern Roman";
  src: url("../../assets/fonts/lmroman10-regular.otf") format("opentype");
}
@font-face {
  font-family: "Metropolis";
  src: url("../../assets/fonts/Metropolis-Regular.otf") format("opentype");
}
html, body {
  background-color: var(--editor-bg-color);
  transition: background-color 1200ms cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Metropolis", sans-serif;
  overflow: hidden;
}

.toolbar-bg {
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  width: 100%;
  max-width: 400px;
  height: 42px;
  background-color: var(--toolbar-bg-color);
  border: 1px solid var(--toolbar-shadow-color);
  border-radius: 0 0 10px 10px;
  border-top: none;
  box-shadow: 0 0 6px var(--toolbar-shadow-color);
  transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

.ql-toolbar.ql-snow {
  left: calc(50% - 200px + 5px);
}

.gpt-button {
  right: calc(50% - 200px + 45px);
}

.settings-button {
  right: calc(50% - 200px + 15px);
}

.gpt-menu-banner {
  right: calc(50% - 200px);
}

.settings-menu-banner {
  right: calc(50% - 200px);
}

.ql-toolbar.ql-snow {
  z-index: 1;
  position: fixed;
  top: 0;
  border: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-select: none;
}
.ql-toolbar.ql-snow button {
  color: var(--pure-black) !important;
  opacity: 0.4;
  font-size: 16px;
  transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 24px;
  cursor: pointer;
}
.ql-toolbar.ql-snow button:hover {
  opacity: 0.6;
}
.ql-toolbar.ql-snow button.ql-active {
  opacity: 0.6;
}
.ql-toolbar.ql-snow .ql-formats + .ql-formats {
  margin-left: 0;
}
.ql-toolbar.ql-snow .ql-bold {
  margin-left: 5px;
}
.ql-toolbar.ql-snow .ql-bold, .ql-toolbar.ql-snow .ql-italic, .ql-toolbar.ql-snow .ql-underline {
  margin-right: -2px;
}
.ql-toolbar.ql-snow .ql-bold {
  font-weight: bold;
}
.ql-toolbar.ql-snow .ql-italic {
  font-style: italic;
  margin-left: -1px;
}
.ql-toolbar.ql-snow .ql-underline {
  text-decoration: underline;
}
.ql-toolbar.ql-snow .ql-header {
  font-size: 18.5px;
  margin-top: -2px;
}
.ql-toolbar.ql-snow .ql-header::after {
  font-weight: bold;
  font-size: 60%;
  top: 2px;
  position: relative;
}
.ql-toolbar.ql-snow .ql-header[value="1"] {
  margin-right: 4px;
}
.ql-toolbar.ql-snow .ql-header[value="1"]::after {
  content: "1";
}
.ql-toolbar.ql-snow .ql-header[value="2"] {
  margin-right: 3.5px;
}
.ql-toolbar.ql-snow .ql-header[value="2"]::after {
  content: "2";
}
.ql-toolbar.ql-snow .ql-header[value="3"] {
  margin-right: -3.5px;
}
.ql-toolbar.ql-snow .ql-header[value="3"]::after {
  content: "3";
}
.ql-toolbar.ql-snow .ql-align, .ql-toolbar.ql-snow .ql-list {
  zoom: 104%;
  margin-left: -3px;
  margin-right: 2px;
  margin-top: 0.5px;
}
.ql-toolbar.ql-snow .ql-align::before, .ql-toolbar.ql-snow .ql-list::before {
  zoom: 96.1%;
}
.ql-toolbar.ql-snow .ql-image {
  margin-left: -8px;
  margin-top: -0.5px;
  transform: scale(130%);
}

.ql-snow .ql-stroke {
  stroke: var(--pure-black) !important;
}

.toolbar-extra {
  z-index: 990;
  position: absolute;
  top: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-select: none;
}
.toolbar-extra img {
  margin-top: 10.5px;
  height: 19px;
  opacity: 0.4;
  transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
.toolbar-extra img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.toolbar-extra.settings-button-active {
  z-index: 1010;
}
.toolbar-extra.settings-button-active img {
  opacity: 0.6;
}
.toolbar-extra img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-select: none;
}
.toolbar-extra.settings-button-update-available::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #d07070;
  border-radius: 50%;
  color: var(--pure-white);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

.settings-menu-option-update {
  background-color: var(--download-color) !important;
}
.settings-menu-option-update:hover {
  background-color: var(--download-hover-color) !important;
}
.settings-menu-option-update span {
  color: #fff;
}

.ql-toolbar.ql-snow, .toolbar-extra, .toolbar-bg {
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

body.toolbar-hidden .ql-toolbar.ql-snow, body.toolbar-hidden .toolbar-extra {
  opacity: 0;
  top: -22px;
  pointer-events: none;
}
body.toolbar-hidden .toolbar-bg {
  top: -40px;
}

.menus-container {
  z-index: 980;
  position: absolute;
  top: 48px;
  width: 100%;
  pointer-events: none;
}
.menus-container.overlay-active {
  pointer-events: auto;
}
.menus-container.settings-menu-open > .settings-menu-banner, .menus-container.file-menu-open > .file-menu-banner, .menus-container.gpt-menu-open > .gpt-menu-banner, .menus-container.feedback-menu-open > .feedback-menu-banner {
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.menus-container .menu-banner {
  position: absolute;
  white-space: nowrap;
  transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  background-color: var(--toolbar-bg-color);
  box-shadow: 0 0 5px var(--toolbar-shadow-color);
  border-radius: 8px;
  text-align: right;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-select: none;
}
.menus-container .menu-banner .menu-option {
  position: relative;
  left: 0;
  right: 0;
  letter-spacing: 0.2px;
  font-family: "Metropolis", sans-serif;
  letter-spacing: 0.2px;
  text-align: left;
  font-size: 13px;
  min-width: 70px;
  text-align: left;
  margin: 0;
  padding: 6px 10px;
  line-height: 16px;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  color: var(--mid-grey);
}
.menus-container .menu-banner .menu-option span + span {
  margin-left: 0.1ch;
  opacity: 0.8;
}
.menus-container .menu-banner .menu-option:hover {
  background: var(--settings-menu-border-color);
}
.menus-container .menu-banner .menu-option.menu-option-enabled {
  background: var(--blue-accent);
  border: 1.5px solid var(--pure-black);
  color: var(--pure-white);
}
.menus-container .menu-banner .menu-option + .menu-option {
  border-top: 1px solid var(--settings-menu-border-color);
}/*# sourceMappingURL=toolbar.css.map */